<div class="sidenav" >
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="../../assets/img/covid.png"/>
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">
    Covid-Univ
</a>
    </div>
    <ul class="nav">
        <li><a routerLink="/inf"><i class="fa fa-info-circle"></i>Informations-Covid-19</a></li>
        <li><a routerLink="/dashboard"><i class="fa fa-bar-chart"></i>Dashboard</a></li>
        <li><a routerLink="/quiz"><i class="fa fa-question-circle-o"></i>QUIZ</a></li>
        <li><a routerLink="/testpcr"><i class="fa fa-pencil-square-o"></i>Test PCR</a></li>
        <li><a routerLink="/upload"><i class="fa fa-file-o"></i>Fiche PCR</a></li>

    </ul>
    </div>