<body>

        <section>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div class="item slider1 active">
          <img src="../../assets/images/slider/1.jpg" alt="">
          <div class="carousel-caption slider-con">
              <h2 style="color: rgb(255, 255, 255);">Bienvenu à <span>l'université</span></h2>
              <p style="color: rgb(200, 190, 233);">Portail sur la santé et la recherche sur les coronavirus</p>
          </div>
      </div>
    </div>
        </div>
</section>
<div class="section tabbar_menu">
  <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="tab_menu">
         <ul>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i1.png" alt="#" /></span><span>Vie universitaire</span></a></li>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i2.png" alt="#" /></span><span>Diplômes</span></a></li>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i3.png" alt="#" /></span><span>Athlétisme</span></a></li>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i4.png" alt="#" /></span><span>Social</span></a></li>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i5.png" alt="#" /></span><span>Location</span></a></li>
          <li style="background-color:rgb(148, 14, 14) ;"><a href="#"><span class="icon"><img src="../../assets/images/i6.png" alt="#" /></span><span >Appelez-nous</span></a></li>
          <li><a href="#"><span class="icon"><img src="../../assets/images/i7.png" alt="#" /></span><span>E-mail</span></a></li>

        </ul>
      </div>
     </div>
   </div>
  </div>
</div>
<br>
<br>
<section>
  <div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
           <h2><span>Liens  </span>populaires</h2>
                    </div>
        </div>
            </div>
    <div class="col-md-4">
                <div class="full blog_img_popular">
                   <img class="img-responsive" src="../../assets/images/p1.png" alt="#" /> 
         <h4>Financial Accounting</h4>
                </div>
            </div>
    <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="../../assets/images/p2.png" alt="#" />
        <h4>Managerial Accounting</h4>
                </div>
            </div>
    <div class="col-md-4">
                <div class="full blog_img_popular">
                    <img class="img-responsive" src="../../assets/images/p3.png" alt="#" />
        <h4>Intermediate Accounting</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
  <div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
           <h2><span>Outil </span> de diagnostic COVID-19</h2>
                    </div>
        <div class="full">
          <p>Cet outil en ligne a été développé par le centre de soins primaires de l'Université de Tunis.</p>
          <p>Il peut déterminer si vous êtes un cas suspect de COVID-19 et vous indiquer la marche à suivre, ou décrire les étapes suivantes si vous êtes un cas de COVID-19 confirmé et en auto-isolement.<p>
        </div>
     
                </div>
            </div>         
    <div class="col-md-6">
                <div class="full">
                    <img src="../../assets/images/covid19-coronavirus-og.jpg" alt="#" />
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
  <br>
  <br>
  
  <div class="section margin-top_50 silver_bg">
    <div class="container">
        <div class="row">
         <div class="col-md-6">
                <div class="full float-right_img">
                    <img src="../../assets/images/img1.png" alt="#" />
                </div>
            </div>
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                    <h2>Lutter contre le coronavirus</h2>
                    </div>
        <div class="full">
          <p>
            Nos chercheurs, notre personnel et nos étudiants travaillent ensemble et avec des partenaires de toute la société pour comprendre le COVID-19 et son impact considérable sur nos vies.</p>
        </div>

                </div>
            </div>
  </div>
    </div>
</div>
<br>
<br>
<div class="section layout_padding padding_bottom-0">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="full">
                  <div class="heading_main text_align_left">
         <h2><span>Comment l'Université de Tunis contribue à la lutte contre le coronavirus</span></h2>
                  </div>
      <div class="full">
        <p>À l'Université de Tunis, nos employés travaillent ensemble et avec des partenaires de toute la société pour comprendre le coronavirus (COVID-19) et ses vastes impacts sur nos vies.
Les chercheurs, les enseignants, les étudiants et le personnel des services professionnels combinent leurs connaissances pour contribuer à la réponse locale, nationale et internationale à la maladie.</p>
      </div>

              </div>
          </div>
  <div class="col-md-6">
              <div class="full">
                  <img class="img-responsive" src="../../assets/images/jad20200824-mmo-tunisie-rentreescolaire-photo2-640x320.jpg" alt="#" />
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section layout_padding padding_bottom-0">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="full">
                  <div class="heading_main text_align_center">
         <h2><span>Nouvelles</span></h2>
                  </div>
      </div>
          </div>
  </div>
         <div class="row" >
          <div class="col-lg-12" >

                  <!-- The slideshow -->
                  <div class="carousel-inner" >
                      <div class="carousel-item active" >
                          <div class="row" >
                              <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="full blog_img_popular" >
                <img class="img-responsive" src="../../assets/images/img9.png" alt="#" />
                <h4>Bénévole pour le programme de vaccination COVID-19</h4>
                <p>Qui que vous soyez et où que vous soyez au Royaume-Uni, vous pouvez contribuer à sauver des vies.</p>
              </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="full blog_img_popular">
                                    <img class="img-responsive" src="../../assets/images/img8.png" alt="#" />
                <h4> Réflexions sur les six premiers mois de la pandémie</h4>
                <p>Renseignez-vous sur le rôle de l'Université dans la réponse du Grand Manchester au COVID-19.</p>
              </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12">
               <div class="full blog_img_popular">
                                    <img class="img-responsive" src="../../assets/images/img9.png" alt="#" />
                <h4>Technology</h4>
                <p>Pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
              </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="full blog_img_popular">
                                    <img class="img-responsive" src="../../assets/images/img8.png" alt="#" />
                <h4>Education</h4>
                <p>Pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
              </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </a>

              </div>
          </div>

     </div>
  </div>


  <br>
  <br>
  
  <div class="section margin-top_50 silver_bg">
    <div class="container">
        <div class="row">
         <div class="col-md-6">
                <div class="full float-right_img">
                    <img src="../../assets/images/CORONAVIRUS MESURES PREVENTIVES covid19_0.png" alt="#" />
                </div>
            </div>
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                    <h2>Informations sur le coronavirus</h2>
                    </div>
        <div class="full">
          <p>
            La sécurité et le bien-être de notre personnel, de nos étudiants et de nos visiteurs sont notre priorité absolue. Pour aider à garder tout le monde en sécurité pendant l'épidémie de COVID-19, nous avons déplacé l'enseignement en ligne, fermé les installations non essentielles et annulé ou reporté les événements sur le campus.</p>
        </div>

                </div>
            </div>
  </div>
    </div>
</div>
<br>
<br>
<!-- end section -->
<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">

   <div class="row">
   
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
       <div class="footer_blog">
        <div class="full margin-bottom_30">
         <img src="../../assets/images/footer_logo.png" alt="#" />
       </div>
       <div class="full white_fonts">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
       </div>
     </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
         <div class="footer_blog footer_menu white_fonts">
            <h1>Liens rapides</h1>
            <ul> 
            <li><a href="#">> Rejoignez-nous</a></li>
            <li><a href="#">> Entretien</a></li>
            <li><a href="#">> Packs linguistiques</a></li>
            <li><a href="#">> LearnPress</a></li>
            <li><a href="#">>  État de la version</a></li>
          </ul>
         </div>
     </div>
     
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" >
     <div class="footer_blog full white_fonts" >
             <h1>Bulletin</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
           <div class="newsletter_form">
              <form action="index.html">
               <input type="email" placeholder="Votre E-mail" name="#" required />
               <button style="background-color: rgb(141, 25, 10);">Envoyer</button>
            </form>
           </div>
         </div>
      </div>	 
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
     <div class="footer_blog full white_fonts">
             <h1>Contactez-nous</h1>
           <ul class="full">
             <li><img src="../../assets/images/i5.png"><span>London 145<br>United Kingdom</span></li>
             <li><img src="../../assets/images/i6.png"><span>demo@gmail.com</span></li>
             <li><img src="../../assets/images/i7.png"><span>+12586954775</span></li>
           </ul>
         </div>
      </div>	 
    
   </div>

    </div>
</footer>

</body>
  
  
  
  