<body style=" background-color: #1e1e2f98;">
    <div class=" content" style="height: 600px;">
          <div class=" card card-chart" style=" background-color: #2b2b42;">
            <div class=" card-header">
              <div class=" row">
                <div class=" col-sm-6 text-left">  
                    <div class="heading_main text_align_left">
                    <h2 ><span class=" card-title" style=" color: cornsilk;">Prise en charge des étudiants actuels et des tests COVID-19</span></h2>
                </div>
                    <p style=" color: #c9c9c9;">Trouvez les derniers conseils sur les tests COVID-19, l'auto-isolation et comment rester en sécurité pendant le verrouillage.</p>
                </div>
             
                
                <div class=" col-sm-6">
                  <div
                    class=" btn-group btn-group-toggle float-right"
                    data-toggle="buttons">
                  </div>
                </div>
              </div>
            </div>
           

            


<section>
    <div class="row" >
        <div class=" col-md-6" >
            <div class=" card card-user" >
              <div class=" card-body"  style=" background-color: #0a0a5c6e;">
                <p class=" card-text"></p>    
                <div class=" card-description" style=" color: #c9c9c9;">
                    <div class="full">
                        <div class="heading_main text_align_left">
               <h2><span>Test COVID-19  </span> sur le campus</h2>
                        </div>
            <div class="full">
              <p>
                En savoir plus sur le processus de test pour les étudiants requis sur le campus.<p>
            </div>
            <div class="full">
               <a class="btn btn-fill btn-danger " href="#">A propos de plus</a>
            </div>
                    </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class=" col-md-6" >
                <div class=" card card-user" >
                  <div class=" card-body"  style=" background-color: #0a0a5c6e;">
                    <p class=" card-text"></p>
                   
                    <div class=" card-description" style=" color: #c9c9c9;">
                     
                            <div class="full">
                                <div class="heading_main text_align_left">
                       <h2><span>Conseils</span>  aux étudiants actuels</h2>
                                </div>
                    <div class="full">
                      <p>
                        Découvrez les dernières informations sur le coronavirus et vos études à l'Université. <p>
                    </div>
                    <div class="full">
                       <a class="btn btn-fill btn-danger" href="#">A propos de plus</a>
                    </div>
                            </div>
                      
                    </div>
                  </div>
      
                </div>
        </div>
    </div>
</section>
<br>
<br>
<div class="section layout_padding padding_bottom-0">
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="full">
              <div class="heading_main text_align_left">
     <h2 ><span  style=" color: #ffffff;">Comment l'Université de Tunis contribue à la lutte contre le coronavirus</span></h2>
              </div>
  <div class="full">
    <p  style=" color: #c9c9c9;">À l'Université de Tunis, nos employés travaillent ensemble et avec des partenaires de toute la société pour comprendre le coronavirus (COVID-19) et ses vastes impacts sur nos vies.
Les chercheurs, les enseignants, les étudiants et le personnel des services professionnels combinent leurs connaissances pour contribuer à la réponse locale, nationale et internationale à la maladie.</p>
  </div>

          </div>
      </div>
<div class="col-md-6">
          <div class="full">
              <img class="img-responsive" src="../../assets/images/jad20200824-mmo-tunisie-rentreescolaire-photo2-640x320.jpg" alt="#" />
          </div>
      </div>
  </div>
</div>
</div>
<br>
<br>
<div class="section layout_padding padding_bottom-0">
    <div class="container">
        <div class="row">
         <div class="col-md-6">
                <div class="full float-right_img">
                    <img src="../../assets/images/_115033548_gettyimages-1226314512.jpg" alt="#" />
                </div>
            </div>
            <div class="col-md-6 layout_padding_1">
                <div class="full">
                  
        <div class="full">
          <p style=" color: #ffffff;">
            Nous souhaitons à tous les collègues et étudiants actuellement malades un prompt rétablissement.

            Nous avons publié des informations pour les étudiants qui s'isolent eux-mêmes . Si vous vous auto-isolez, nous ferons tout notre possible pour vous soutenir.
            
            Le chiffre que nous rapportons est le nombre de nouveaux cas positifs connus parmi notre personnel et nos étudiants, à la veille. Il inclut ceux sur et hors du campus et n'indique pas où le virus a pu être contracté.</p>
        </div>

                </div>
            </div>
  </div>
    </div>
</div>
<br>
<br>
<div class="section layout_padding padding_bottom-0">
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="full">
              <div class="heading_main text_align_left">
     <h2 ><span  style=" color: #ffffff;">Test d'écoulement latéral asymptomatique</span></h2>
              </div>
  <div class="full">
    <p  style=" color: #c9c9c9;">L'Université organise des tests pour les étudiants et le personnel.

        Les chiffres cumulatifs des tests du 4 janvier au 4 mai sont les suivants:
</p>

<li style=" color: #00d7f3;">* Nombre total de tests administrés (étudiants): 9 838</li>
<li style=" color: #00d7f3;">* Total des tests administrés (personnel / non-étudiants): 4528</li>
<li style=" color: #00d7f3;">* Tests positifs cumulés: 58</li>

<p  style=" color: #c9c9c9;">Nous publierons les derniers chiffres cumulés tous les mardis.

    Plus d'informations sur les tests de débit latéral asymptomatique sont disponibles sur notre page de test COVID-19 .
</p>
  </div>

          </div>
      </div>
<div class="col-md-6">
          <div class="full">
              <img class="img-responsive" src="../../assets/images/p3.png" alt="#" />
          </div>
      </div>
  </div>
</div>
</div>
</div>

</div>
</body>



